*{
    font-family: Arial, sans-serif;
    margin:0;
    padding:0;
    box-sizing: border-box;
    background: none;
}

header{
    padding: 20px;
    background: crimson;
    color: #212121;
}

body{
    background: #212121;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
main{
    flex:1;
}
footer{
    background: gold;
    padding: 20px;
}
section{
    background:white;
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    width:fit-content;
}

button{
    padding: 20px;
    margin:5px;
      border-style: solid;
    border-width: 2px;
    background: #ffffff;
    font-size: 1rem;
     border-radius: 10px;
    
}
#counter{
    font-size: 3rem;
}
#increase:hover{
    background: limegreen;
}
#decrease:hover{
    background: red;
}
#reset:hover{
    background: #dddddd;
}
button:active{
    background: black !important;
    color: white;
}